{% assign meta = site.data.books['meta'] %}
{% assign books_read = site.data.books['books_read'] %}
{% assign wishlist = site.data.books['wishlist'] %}
{% assign shorts = site.data.books['short_stories_to_read'] %}

---

<div>
    <div style="text-align: center; margin: 25px;"> <h5> Books I'm Currently Reading </h5> </div>
    <ul style="margin-top: 30px;">
        {% for item in meta.currently_reading %}
        <li> <b> {{ item.title }}</b>, by {{ item.author }} </li>
        {% endfor %}
    </ul>
</div>

---

<div>
    <div style="text-align: center; margin: 25px;"> <h5> Some Books I've Read in the Past </h5> </div>
    <ul style="margin-top: 30px;">
        {% for item in books_read %}
        {% if item.title != blank %}
        <li> <b> {{ item.title }}</b>, by {{ item.author }} </li>
        {% elsif item.series != blank %}
        <li> <b> {{ item.series }} </b>, by {{ item.author }}</li>
        <ul>
            {% for i in item.titles %}
            <li> {{ i }} </li>
            {% endfor %}
        </ul>
        {% else %}
        <li> {{ item }} </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

