html{
  zoom: 100%;
  font-family: "San Francisco", sans-serif;
  font-size: 20px;
}

// body {
  // font-family: "San Francisco", sans-serif;
  // font-size: 20px;
// }

.badge {
  font-weight: 500;
}
