.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.post-link {
  display: inline-block;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
  width: 100%;
  }
  &:hover {
      color: black;
      text-decoration: none;
  }
}

.card-text {
  font-size: 1rem;
}
