@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "autumn",
        "base",
        "blog",
        "blog_new",
        "footer",
        "landing",
        "navbar",
        "projects",
        "timeline";

/* Default link color */
a {
    color: #004088;
    text-decoration: none; /* Optional: removes underline */
  }
  
/* Link color on hover */
a:hover {
  color: #004088; 
  text-decoration: none; /* Optional: removes underline */
}

body {
    font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',  Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

.container {
  font-size: 16px; // Default for mobile

  @media (min-width: 1200px) { // Larger screens
    max-width: 75%;
    font-size: 24px;
  }
  @media (max-width: 1199px) {
    max-width: 90%;  // More width on medium screens
    font-size: 20px;
  }
  @media (max-width: 768px) {
    max-width: 95%;  // Almost full width on mobile
    font-size: 14px;
  }
}
