---
layout: default
title: Blog
weight: 3
permalink: /blog/
---
{% include blog/search.html %}
<div>

  {% for post in site.posts %}
        <div class="my-3 wow animated fadeIn" data-wow-delay=".15s">
          <a href="{{ post.url }}" class="project card text-dark">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {%- if post.description -%}
                {{ post.description }}
                {%- else -%}
                {{ post.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
                {%- endif -%}
              </p>
              {% for tag in post.tags %}
                <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
              {% endfor %}
              <span style="float: right;"> <small> Written: {{ post.date | date_to_long_string }}; Last update: {{ post.updated | date_to_long_string }} </small></span>
            </div>
          </a>
        </div>
  {% endfor %}
  
</div>
